.todo{
    width: 600px;
    min-height: 732px;
    border-radius: 20px;
    background: #ffffff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}

.todo-header{
    margin-top: 84px;
    color: #002765;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.todo-input {
    border-radius: 50px;
    background: #edeef0;
    border: none;
    outline: none;
    width: 75%;
    height: 80px;
    padding-left: 35px;
    font-size: 20px;
}

.todo-add-btn {
    border-radius: 50px;
    background: #5b7a53;
    width: 15%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.reset-btn {
    border-radius: 50px;
    background: #ff3939;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 600px) {
    .todo {
        width: 90%;
        padding: 0px 20px;
    }

    .todo-header {
        font-size: 30px;
    }

    .todo-input,
    .todo-add-btn {
        width: 100%;
    }
}